{{ define "main" }}
<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/bw/minicugins.JPG">     
      </center>
   

  </div>
 </div>



<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/bw/lady.JPG" >       
    </center>
  </div>
</div>
</div>
</div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/bw/lulluari.JPG" >       
    </center>
  </div>
</div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/bw/fede.JPG" >       
    </center>
  </div>
</div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/bw/lac.JPG" >       
    </center>
  </div>
</div>
</div>


 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/bw/horse.JPG" >       
    </center>
  </div>
</div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/bw/li.JPG" >       
    </center>
  </div>
</div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/bw/tere.JPG" >       
    </center>
  </div>
</div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/bw/ldn.JPG" >       
    </center>
  </div>
</div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/bw/pietro.jpg" >       
    </center>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/bw/laundry.JPG" >       
    </center>
  </div>
</div>
</div>

{{ end }}
