{{ define "main" }}
<div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
 
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/ceramica/giallo1.JPG">     
      </center>
     </div>
 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/ceramica/giallo2.JPG">     
      </center>
     </div>
 </div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects">
 <div class="row">
 <center> 
 <div class="col-lg-6" style="padding-top: 3%;">
       <img src="../../images/ceramica/blu1.JPG">     
     </center>
    </div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/ceramica/blu2.JPG">     
      </center>
     </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/ceramica/candle1.jpg">     
      </center>
     </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/ceramica/candle2.JPG">     
      </center>
     </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/ceramica/soap.JPG">     
      </center>
     </div>
 </div>

{{ end }}
