{{ define "main" }}
<div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
 
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/portrait/4.jpg">     
      </center>
     </div>
 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/portrait/3.jpg">     
      </center>
     </div>
 </div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects">
 <div class="row">
 <center> 
 <div class="col-lg-6" style="padding-top: 3%;">
       <img src="../images/portrait/2.jpg">     
     </center>
    </div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/portrait/5.jpg">     
      </center>
     </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/portrait/1.jpg">     
      </center>
     </div>
 </div>

{{ end }}
