{{ define "main" }}
<div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/blues/marco.jpg">     
      </center>
     </div>
 </div>
 
 <div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/blues/danse.jpg">     
      </center>
     </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/blues/bibi.jpg">     
      </center>
     </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/blues/blub.jpg">     
      </center>
     </div>
 </div>
 
 <div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
    <div class="container" style="font-size:12px;text-align: center;" id="projects">
      <div class="row">
      <center> 
      <div class="col-lg-6" style="padding-top: 3%;">
            <img src="../images/blues/joon.png">     
          </center>
         </div>
     </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/blues/rio.jpg">     
      </center>
     </div>
 </div>
</div>
<center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/blues/rainbow.png">     
      </center>
     </div>
 </div>


{{ end }}
