{{ define "main" }}
<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/slab_city/star.JPG">     
      </center>
  </div>
 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/slab_city/road.JPG">     
      </center>
  </div>
 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/slab_city/aereo.JPG">     
      </center>
  </div>
 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/slab_city/pub.JPG">     
      </center>
  </div>
 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/slab_city/pub2.JPG">     
      </center>
  </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/slab_city/bench.JPG">     
      </center>
  </div>
 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/slab_city/books.JPG">     
      </center>
  </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/slab_city/hips.JPG">     
      </center>
  </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/slab_city/bear.JPG">     
      </center>
  </div>
 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/slab_city/dog.JPG">     
      </center>
  </div>
 </div>


{{ end }}
