{{ define "main" }}

<div class="container" style="font-size:16px;text-align: center;">
  While travelling around the arid, deserted, dusty areas of the world, one is hit by a feeling of desolation. Overwhelmed by nature’s power, we see human - made constructions reverting back to where they belong - the earth itself.
  
  This series reveals humans presence in unusual environments and his ability to adapt and coexist with them.
  It highlights the contrasts between humans and wilderness and how the latter always ends up establishing its dominion.
</br> 

  Shot in Mexico, US, Egypt.
  </div>




<div class="container" style="font-size:12px;text-align: center;" id="projects" width="100%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/slab_city/star.JPG">     
      </center>
  </div>
 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="100%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/slab_city/road.JPG">     
      </center>
  </div>
 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="100%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/slab_city/aereo.JPG">     
      </center>
  </div>
 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="100%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/slab_city/pub.JPG">     
      </center>
  </div>
 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="100%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/slab_city/pub2.JPG">     
      </center>
  </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="100%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/slab_city/bench.JPG">     
      </center>
  </div>
 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="100%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/slab_city/books.JPG">     
      </center>
  </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="100%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/slab_city/hips.JPG">     
      </center>
  </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="100%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/slab_city/bear.JPG">     
      </center>
  </div>
 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="100%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/slab_city/dog.JPG">     
      </center>
  </div>
 </div>


{{ end }}
