{{ define "main" }}
<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/color/umbrella.JPG">     
      </center>
  </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/color/cuba2.JPG">     
      </center>
  </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../../images/color/cuba.JPG">     
      </center>
  </div>
 </div>



{{ end }}
