{{ define "main" }}
<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 0.5%;">
        <img src="../../images/p5/test9.png">     
      </center>
   

  </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 0.5%;">
      <img src="../../images/p5/test6.png" >       
    </center>
  </div>
</div>

</div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 0.5%;">
        <img src="../../images/p5/test8.png" >       
      </center>
    </div>
  </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 0.5%;">
      <img src="../../images/p5/test10.png" >       
    </center>
  </div>
</div>
</div>
<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 0.5%;">
        <img src="../../images/p5/test11.png" >       
      </center>
    </div>
  </div>
  </div>

  <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 0.5%;">
        <img src="../../images/p5/test12.png" >       
      </center>
    </div>
  </div>
  </div>
  <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 0.5%;">
        <img src="../../images/p5/test13.png" >       
      </center>
    </div>
  </div>
  </div>

  <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 0.5%;">
        <img src="../../images/p5/test14.png" >       
      </center>
    </div>
  </div>
  </div>

  <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 0.5%;">
        <img src="../../images/p5/test15.png" >       
      </center>
    </div>
  </div>
  </div>

  <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 0.5%;">
        <img src="../../images/p5/test16.png" >       
      </center>
    </div>
  </div>
  </div>

  <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 0.5%;">
        <img src="../../images/p5/test17.png" >       
      </center>
    </div>
  </div>
  </div>


{{ end }}
