{{ define "main" }}
<div class="container" style="font-size:12px;text-align: center;" id="projects"; width="90%">
    
    <div class="row">
    {{ range .Pages }}

    </div>
  {{end}}
  </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/estate/bdp.jpg" >       
    </center>
  </div>
</div>
</div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/estate/papi.jpg" >       
    </center>
  </div>
</div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/estate/mountain.jpg" >       
    </center>
  </div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/estate/agustin.jpg" >       
    </center>
  </div>
</div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/estate/marseilles3.jpg" >       
    </center>
  </div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/estate/lullu.jpg" >       
    </center>
  </div>
</div>
</div>

</div>
<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
   <div class="row">
   <center> 
   <div class="col-lg-6" style="padding-top: 3%;">
       <img src="../images/estate/marseilles.jpg" >       
     </center>
   </div>
 </div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/estate/hills.jpg" >       
    </center>
  </div>
</div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/estate/barche.jpg" >       
    </center>
  </div>
</div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/estate/gio.jpg" >       
    </center>
  </div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/estate/greco.jpg" >       
    </center>
  </div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/estate/nonna.jpg" >       
    </center>
  </div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
<div class="row">
<center> 
<div class="col-lg-6" style="padding-top: 3%;">
    <img src="../images/estate/caco.jpg" >       
  </center>
</div>
</div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
<div class="row">
<center> 
<div class="col-lg-6" style="padding-top: 3%;">
    <img src="../images/estate/vio.jpg" >       
  </center>
</div>
</div>
</div>

{{ end }}
