{{ define "main" }}
<div class="container" style="font-size:12px;text-align: center;" id="projects"; width="90%">
    
    <div class="row">
    {{ range .Pages }}
    <center> 
    <div class="col-lg-6" style="padding-top: 3%;">
        <img src="images/estate/bdp.JPG">     
      </center>

    <!-- <div class="modal fade" id={{replace .Title " " ""}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                id="exampleModalLongTitle">{{.Title}}</h5>
            </div>
            <div class="modal-body" style="text-align: left">
             {{ .Content}}
              
            </div>
            <div class="modal-footer">
                {{ range $key, $value := .Params.projectLinks }}
                  <a role="button" class="btn
                  btn-outline-primary" href="{{$value}}" target="_blank">{{ $key }}</a>
                {{ end }}
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">close</button>
            </div>
        </div>
        </div>
    </div> -->
    </div>
  {{end}}
  </div>
 </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="images/estate/bdp.JPG" >       
    </center>
  </div>
</div>
</div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="images/estate/papi.JPG" >       
    </center>
  </div>
</div>
</div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 3%;">
        <img src="images/estate/caco.jpg" >       
      </center>
    </div>
  </div>
 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 3%;">
        <img src="images/estate/barche.jpg" >       
      </center>
    </div>
  </div>
 </div>

 </div>
 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 3%;">
        <img src="images/estate/marseilles.JPG" >       
      </center>
    </div>
  </div>
  <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 3%;">
        <img src="images/estate/marseilles3.JPG" >       
      </center>
    </div>
  </div>
  <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 3%;">
        <img src="images/estate/greco.jpg" >       
      </center>
    </div>
  </div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 3%;">
        <img src="images/estate/mountain.JPG" >       
      </center>
    </div>
  </div>

  <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 3%;">
        <img src="images/estate/nonna.JPG" >       
      </center>
    </div>
  </div>




 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 3%;">
        <img src="images/estate/laura.png" >       
      </center>
    </div>
  </div>
 </div>

{{ end }}
