{{ define "main" }}

<center>
  <div class="container">   
    <div class="row" style="padding-top: 3%;">
        <p> The infinite, untold, hidden stories that swirl in our heads between grey walls and blurry trees during the uttermost introspection times: bus journeys. 
          </p>
  </div>
  </center>
<br>
<center>

  <img src="../images/triad/11.jpg"; width="25%"> 
  <img src="../images/triad/12.jpg"; width="25%"> 
  <img src="../images/triad/13.jpg"; width="25%"> 

</center>

<br>

<center>

  <img src="../images/triad/21.jpg"; width="25%"> 
  <img src="../images/triad/22.jpg"; width="25%"> 
  <img src="../images/triad/23.jpg"; width="25%"> 

</center>

<br>

<center>

  <img src="../images/triad/31.jpg"; width="25%"> 
  <img src="../images/triad/32.jpg"; width="25%"> 
  <img src="../images/triad/33.jpg"; width="25%"> 

</center>



{{ end }}
