{{ define "main" }}
<section class="white">
{{ range .Pages.ByDate.Reverse }}
<center><img src="../images/me.png"; width="20%"></center>

     <div class="container" id="about">

       
        <div class="row justify-content-center align-items-center">

                    <div class="col">
                        
                        <h1>{{ .Title | markdownify }}</h1>
                        {{.Content}}
                        
                    </div>
                    

    </div>
    
{{ end }}

</section>
<center>
<img class="opa-image" src="../images/sketch1.jpg"; width="30%"> 
<!-- <img src="../images/illustra.png"; width="30%">  -->
<img class="opa-image" src="../images/sketch1_inverted.jpg"; width="30%"> 
</center>


</center>{{ end }}




