{{ define "main" }}

<center>
  <div class="container">   
    <div class="row" style="padding-top: 3%;">
        <p> Playful kids in a fountain.   </p>
  </div>
  </center>
<br>
<center>

  <img src="../images/kids/PICT1.JPG"; width="25%"> 
  <img src="../images/kids/PICT3.JPG"; width="25%"> 
  <!-- <img src="../images/kids/PICT1.JPG"; width="25%">  -->

</center>

<br>

<center>

  <img src="../images/kids/bianco.png"; width="25%"> 
  <img src="../images/kids/PICT6.JPG"; width="25%"> 
  <img src="../images/kids/PICT4.JPG"; width="25%"> 

</center>

<br>

<center>

  <img src="../images/kids/PICT8.JPG"; width="25%"> 
  <img src="../images/kids/bianco.png"; width="25%"> 
 
</center>

<br>


{{ end }}
