{{ define "main" }}


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/dual/1.png">     
      </center>
  </div>
 </div>


 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 0.5%;">
      <img src="../images/dual/5.png" >       
    </center>
  </div>
</div>

 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/dual/4.png" >       
    </center>
  </div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/dual/3.png" >       
    </center>
  </div>
</div>



<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/dual/2.png" >       
    </center>
  </div>
</div>


{{ end }}

