{{ define "main" }}

<center>
  <div class="container">   
    <div class="col-lg-6 align-items-center" style="padding-top: 3%;">
        <p>Inverting and superimposing the grounds on which we believe we stand. </p>
  </div>
  </center>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/dual/1.jpg">     
      </center>
  </div>
 </div>

<br>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 0.5%;">
      <img src="../images/dual/5.jpg" >       
    </center>
  </div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 3%;">
      <img src="../images/dual/4.jpg" >       
    </center>
  </div>
</div>

{{ end }}

